In [ ]:
import pandas as pd
import numpy as np
from collections import Counter

df_rewards = pd.read_csv('./rewards.csv', encoding='cp949')
df_rewards = df_rewards.iloc[:,1:]
df_rewards['total'] = df_rewards.sum(axis=1)
df_rewards.iloc[:,-1]
df_commands = pd.read_csv('./commands.csv', encoding='cp949')
df_commands = df_commands.iloc[:, 1:]
result = df_commands.apply(lambda x : x.value_counts(), axis = 1)
result['count'] = result.sum(axis=1)
result['reward'] = df_rewards.iloc[:,-1]
result

      A    D    S    W  count     reward
0   123  132  127  130    512  -4.226151
1   132  104  131  126    493  11.020056
2   131  130  113  138    512  -3.811981
3   110  128  137  137    512  -1.687394
4   133  106  137  136    512  -1.797073
5   126  139  132  115    512  -3.268953
6    33   18   24   36    111  11.618565
7   137  123  126  126    512  -3.048341
8   111  128  141  132    512  -2.308106
9   125  128  127  132    512  -2.734378
10  114  141  127  130    512  -1.495728
11  129  121  132  130    512  -2.504254
12   40   39   50   43    172  10.831376
13  133  133  128  118    512  -2.291430
14  128  125  130  129    512  -3.986736