In [4]:
import pandas as pd
import numpy as np
from collections import Counter

df_rewards = pd.read_csv('./rewards.csv', encoding='cp949')
df_rewards = df_rewards.iloc[:,1:]
df_rewards['total'] = df_rewards.sum(axis=1)
df_rewards.iloc[:,-1]
df_commands = pd.read_csv('./commands.csv', encoding='cp949')
df_commands = df_commands.iloc[:, 1:]
result = df_commands.apply(lambda x : x.value_counts(), axis = 1)
result['count'] = result.sum(axis=1)
result['reward'] = df_rewards.iloc[:,-1]
result.to_csv('./result.csv', encoding='cp949')
result

     A    D    S    W  count     reward
0    6    9    8    9     32   7.894445
1  140  113  136  123    512 -12.059385
2    7    6    5    1     19   7.532755